@charset "UTF-8";

/* global */
body, h4, p { margin: 0; }
.field-error { border-color: #dc3545; color: #dc3545; }

#hd { width: 100%; }
.hd-con { width: 720px; height: 60px; display: flex; justify-content: space-between; align-items: center; }
.hd-tit { padding: 0 20px; }
.hd-nav { padding: 0 20px; }
.hd-nav a { display: inline-block; }
.hd-nav a:nth-child(n+2) { margin-left: 5px; }

#ft { width: 100%; }
.ft-con { width: 720px; height: 180px; }
.ft-item { padding: 20px 20px 0 20px; }

/* home */
#home { width: 100%; }
.home-con { width: 720px; height: 720px; }
.home-item { padding: 20px 20px 0 20px; }
.home-item > table { width: 680px; }
.home-item > table th { text-align: left; }
.home-item > button { width: 120px; }

/* users */
#user { width: 100%; }
.user-con { width: 720px; height: 720px; }
.user-item { padding: 20px 20px 0 20px; }
.user-item > input { width: 680px; box-sizing: border-box; }
.user-item > label { display: block; width: 120px; }
.user-hori-item { display: flex; padding: 20px 20px 0 20px; }
.user-hori-item > button { width: 120px; }
.user-hori-item > button:nth-child(n+2) { margin-left: 20px; }

/* articles */
#arti { width: 100%; }
.arti-con { width: 720px; height: 720px; }
.arti-item { padding: 20px 20px 0 20px; }
.arti-item > table { width: 680px; }
.arti-item > table th { text-align: left; }
.arti-item > button { width: 120px; }
.arti-item > input { width: 680px; box-sizing: border-box; }
.arti-item > label { display: block; width: 120px; }
.arti-item > textarea { width: 680px; height: 360px; resize: none; box-sizing: border-box; }